extends ../layout
block content
    include ../includes/setting-pane
    .page-container
        include ../includes/sidebar
        .main-content
            include ../includes/header
            .page-title
            .row
            include ../includes/footer
        include ../includes/chat

