extends ../layout
block content
    #wrapper
        include ../includes/header
        include ../includes/sidebar
        .main
        .clearfix
        footer
            .container-fluid
                p.copyright
                    | &copy: 2017
                    a(href="#",target="_blank")
                        | Theme I Need
                    | .All Rights Reserved. More Templates
                    a(href="#",target="_blank",title="模板之家")
                    | - Collect from
                    a(href="#")
                        | 网页模板


