footer.main-footer.sticky.footer-type-1
    .footer-inner
        .footer-text
            | &copy;2017
            strong
                | Xenon
            | More Templates
            a(href="#",target="_blank",title="")
                | 模板之家
            | - Collect from
            a(href="#")
                | 网页模板
        .go-up
            a(href="#",rel="go-top")
                i.fa-angle-up