#sidebar-nav.sidebar
    .sidebar-scroll
        nav
            ul.nav
                li
                    a.active(href="#")
                        i.lnr.lnr-home
                        span
                            | Dashboard
                li
                    a(href="#")
                        i.lnr.lnr-code
                        span
                            | Elements
                li
                    a(href="#")
                        i.lnr.lnr-chart-bars
                        span
                            | Chats
                li
                    a(href="#")
                        i.lnr.lnr-cog
                        span
                            | Panels
                li
                    a(href="#")
                        i.lnr.lnr-alarm
                        span
                            | Notifications
                li
                    a.collapsed(href="#subPages",data-toggle="collapse")
                        i.lnr.lnr-file-empty
                        span
                            | Pages
                        i.icon-submenu.lnr.lnr-chevron-left
                    #subPages.collapse
                        ul.nav
                            li
                                a(href="#")
                                    | Profile
                            li
                                a(href="#")
                                    | Login
                            li
                                a(href="#")
                                    | Lockscreen
                li
                    a(href="#")
                        i.lnr.lnr-dice
                        span
                            | Tables
                li
                    a(href="#")
                        i.lnr.lnr-text-format
                        span
                            | Typography
                li
                    a(href="#")
                        i.lnr.lnr-text-format
                        span
                            | Typography
                li
                    a(href="#")
                        i.lnr.lnr-linearicons
                        span
                            | Icons