.sidebar-menu.toggle-others.fixed
    .sidebar-menu-inner
        header.logo-env
            .logo
                a.logo-expanded(href="dashboard-1.html")
                    img(src="../xenon/assets/images/logo@2x.png",with="80",alt="")
                a.logo-collapsed(href="dashboard-1.html")
                    img(src="../xenon/assets/images/logo-collapsed@2x.png",with="40",alt="")
            .mobile-menu-toggle.visible-xs
                a(href="#",data-toggle="user-info-menu")
                    i.fa-bell-o
                    span.badge.badge-success
                        | 7
                a(href="#",data-toggle="mobile-menu")
                    i.fa-bars
            .settings-icon
                a(href="#",data-toggle="settings-pane",data-animate="true")
                    i.linecons-cog
        ul#main-menu.main-menu
            li
                a(href="dashboard-1.html")
                    i.linecons-cog
                    span.title
                        | Dashboard
                ul
                    li
                        a(href="dashboard-1.html")
                            span.title
                                | Dashboard 1
                    li
                        a(href="dashboard-2.html")
                            span.title
                                | Dashboard 2
                    li
                        a(href="dashboard-3.html")
                            span.title
                                | Dashboard 3
                    li
                        a(href="dashboard-4.html")
                            span.title
                                | Dashboard 4
                    li
                        a(href="skin-generator.html")
                            span.title
                                | Skin Generator
            li
                a(href="layout-variants.html")
                    i.linecons-desktop
                    span.title
                        | Layouts
                ul
                    li
                        a(href="layout-variants.html")
                            span.title
                                | Layout Vaiants &amp; API
                    li
                        a(href="layout-collapsed-sidebar.html")
                            span.title
                                | Collapsed Sidebar
                    li
                        a(href="layout-static-sidebar.html")
                            span.title
                                | Static Sidebar
                    li
                        a(href="layout-horizontal-menu.html")
                            span.title
                                | Horizontal Menu
